<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://8.142.154.156:8081//img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->

    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
    <!--    <script type="text/javascript" src="/js/bootstrap.min.js"></script>-->
    <!--    <script  type="text/javascript" src="/js/bootstrap-table.js"></script>-->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">

        /*左侧面板*/
        #leftPanel {
            /*position: absolute;*/
            position: fixed;
            margin-top: 50px;
            margin-left: 0px;
            background-color: #2c3034;
            width: 400px;
            height: 890px;
        }

        /*右侧面板*/
        #rightPanel {
            position: absolute;
            margin-left: 300px;
            margin-top: 50px;
            background-color: whitesmoke;
            width: 1603px;
            min-height: 885px;
        }

        body {
            background-color: white;
        }

        /*模块六*/
        #SixPanel {
            height: 500px;
            background-color: white;
            margin-left: 50px;
        }

        /*导航栏*/
        .navbar {
            background-color: #ffc720;
        }

        /*返回顶部*/
        #returnTop {
            position: fixed;
            width: 20px;
            height: 20px;
            margin-left: 90%;
            margin-top: 800px;
        }

        /*  商品信息详情Div  */
        #detailInfoDiv {
            margin-top: 70px;
            margin-left: 310px;
            position: absolute;
            width: 1580px;
            height: 900px;
        }

        /*   商家注册  */
        #sellerRisgter {
            margin-top: 30px;
            margin-left: 150px;
            width: 1300px;
        }

        /*   上传商品  */
        #uploadStore {
            margin-top: 30px;
            margin-left: 150px;
            width: 1300px;
        }

        /*   我得信息  */
        #myInfo {
            margin-top: 150px;
            margin-left: 150px;
            width: 1300px;
        }
        /*   找回密码  */
        #updatePasswordDiv {
            margin-top: 30px;
            margin-left: 150px;
            width: 800px;
        }
    </style>
    <!--返回顶部函数-->
    <script>

        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    $("#returnTop").show();
                } else {
                    $("#returnTop").hide();
                }
            })
        })
    </script>
    <!--退出登录-->
    <script>
        function exitLogin() {
            $.ajax({
                async: false,
                url: '/sanqi/exitLogin',
                type: 'get',
                dataType: 'text',
                success: function (data) {
                    if (data != "success") {
                        alert("已退出")
                    }
                },
                error: function () {
                    alert("退出请求失败")
                }
            })
        }
    </script>
    <script>
        <!--  商品信息详情  -->
        function detailInfo() {
            $("#detailInfoDiv").show();
            $("#serach").hide();
        }
    </script>
    <script>
        //建立一個可存取到该file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="nav-header" style="font-size: xx-large">
            <a class="navbar-brand" style="color: black">高校闲鱼二手交易平台</a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <button type="submit" class="btn btn-dark" onclick="exitLogin()">退出登录</button>
            </form>
        </div>
    </div>
</nav>
<!--左侧面板-->
<div id="leftPanel">
    <div class="container-fluid">
        <ul class="nav  nav-pills nav-stacked">
            <li class="active btn-lg"><a href="#model1" data-toggle="tab">首页</a></li>
            <li class="btn-lg"><a href="#model2" data-toggle="tab">分类</a></li>
            <li class="btn-lg"><a href="#model3" data-toggle="tab">商家</a></li>
            <li class="btn-lg"><a href="#model4" data-toggle="tab">购物车</a></li>
            <li class="btn-lg"><a href="#model5" data-toggle="tab">我的信息</a></li>
            <li class="btn-lg"><a href="#model6" data-toggle="tab">公告</a></li>
        </ul>
    </div>
</div>
<!--右侧面板-->
<div id="rightPanel">
    <div class="col-md-12 tab-content" style="color: #86b7fe">
        <!--模块一-->
        <div class="tab-pane in active" id="model1">
            <div class="row" style="margin-left: 300px;margin-top: 60px" id="serach">
                <div class="col-lg-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入您想要的宝贝">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                搜索
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>
            <br>
            <hr>
            <!--数据显示区域-->
            <!--            <table class="table" id="tableData">-->
            <!--                这里是一个table-->
            <!--            </table>-->
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/101.jpg" style="width: 300px;height: 300px" onclick="detailInfo()">
                        <h3>课堂小桌子、凳子 </h3>
                        <p>57 元</p>
                        <button class="btn btn-default">
                            <span>购买</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">加入购物车</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/lan.jpg" style="width: 300px;height: 300px">
                        <h3>商铺专用挂篮</h3>
                        <p>7 元</p>
                        <button class="btn btn-default">
                            <span>购买</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">加入购物车</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/yizi.jpg" style="width: 300px;height: 300px">
                        <h3>米白色宿舍椅子</h3>
                        <p>34 元</p>
                        <button class="btn btn-default">
                            <span>购买</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">加入购物车</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/bike.jpg" style="width: 300px;height: 300px">
                        <h3>纯黑自行车</h3>
                        <p>156 元</p>
                        <button class="btn btn-default">
                            <span>购买</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">加入购物车</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/103.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/104.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/105.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/107.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/106.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/110.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/112.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/116.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/117.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/jiadian.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/lan.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/lan2.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/watch.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/xiangpini.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="/img/xiaofu.jpg" style="width: 300px;height: 300px">
                        <h3>王嘉华</h3>
                        <p>河南安阳</p>
                        <button class="btn btn-default">
                            <span>喜欢</span>
                        </button>
                        <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil">喜欢</span>
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <!--模块二-->
        <div class="tab-pane fade" id="model2">分类</div>
        <!--模块三-->
        <div class="tab-pane fade" id="model3" style="margin-top: 100px">
            <div class="panel panel-primary" id="sellerRegisterDiv">
                <div class="panel-heading">
                     <span style="text-align: left">
                        <button type="button" class="btn-danger " id="closeSeller">关闭</button>
                         <script>
                               $("#closeSeller").click(function () {
                                   $("#sellerRegisterDiv").hide();
                                   $("#uploadStoreDiv").show();
                               })
                         </script>
                    </span>
                    <h3 class="panel-title" style="text-align: center">
                        注册商家
                    </h3>
                </div>
                <div id="sellerRisgter">
                    <div class="input-group ">
                        <span class="input-group-addon">商家名称</span>
                        <input type="text" class="form-control" placeholder="请输入商家名称" name="sellerName" id="sellerName"
                               onblur="leave(this.value)">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">姓&nbsp;&nbsp;&nbsp;名</span>
                        <input type="text" class="form-control" placeholder="请输入真实姓名" name="realName" id="realName">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">学&nbsp;&nbsp; 号</span>
                        <input type="text" class="form-control" placeholder="请输入学号" name="studengId"
                               id="realNameRegister">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">学&nbsp;&nbsp;&nbsp;院</span>
                        <input type="tel" class="form-control" placeholder="请输入电话" name="collage" id="college">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">班&nbsp;  级</span>
                        <input type="text" class="form-control" placeholder="请输入学院" name="classId" id="classId">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">邮&nbsp;&nbsp;&nbsp;箱</span>
                        <input type="email" class="form-control" placeholder="请输入邮箱" name="email" id="emailRegister">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">学 生 证 </span>
                        <img src="/img/aa.png" id="studentImageShow" height="200px" width="200px" title="请上传图片">
                        <input type="file" name="studentImage" id="studentImage">
                        <script>
                            $("#studentImage").change(function () {
                                var objUrl = getObjectURL(this.files[0]);
                                if (objUrl) {
                                    $("#studentImageShow").attr("src", objUrl);
                                }
                            });


                        </script>
                    </div>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="register_login"
                            onclick="loginRegister()">注册
                    </button>
                    <br>
                    <br>
                </div>
            </div>

            <!--         上传商品   -->
            <div class="panel panel-primary" id="uploadStoreDiv" style="display: none">
                <div class="panel-heading">
                     <span style="text-align: left">
                        <button type="button" class="btn-danger " id="closeUploadStore">关闭</button>
                         <script>
                               $("#closeUploadStore").click(function () {
                                   $("#sellerRegisterDiv").show();
                                   $("#uploadStoreDiv").hide();
                               })
                         </script>
                    </span>
                    <h3 class="panel-title" style="text-align: center">
                        上传商品
                    </h3>
                </div>
                <div id="uploadStore">
                    <div class="input-group">
                        <span class="input-group-addon">主  图</span>
                        <img src="/img/aa.png" id="mainImageShow" height="200px" width="200px" title="请上传图片">
                        <input type="file" name="mainImage" id="mainImage">
                        <script>
                            $("#mainImage").change(function () {
                                var objUrl = getObjectURL(this.files[0]);
                                if (objUrl) {
                                    $("#mainImageShow").attr("src", objUrl);
                                }
                            });
                        </script>

                        <span class="input-group-addon">二  图</span>
                        <img src="/img/aa.png" id="twoImageShow" height="200px" width="200px" title="请上传图片">
                        <input type="file" name="twoImage" id="twoImage">
                        <script>
                            $("#twoImage").change(function () {
                                var objUrl = getObjectURL(this.files[0]);
                                if (objUrl) {
                                    $("#twoImageShow").attr("src", objUrl);
                                }
                            });
                        </script>

                        <span class="input-group-addon">三  图</span>
                        <img src="/img/aa.png" id="threeImageShow" height="200px" width="200px" title="请上传图片">
                        <input type="file" name="threeImage" id="threeImage">
                        <script>
                            $("#threeImage").change(function () {
                                var objUrl = getObjectURL(this.files[0]);
                                if (objUrl) {
                                    $("#threeImageShow").attr("src", objUrl);
                                }
                            });
                        </script>
                        <!--                    </div>-->
                        <!--                    <div class="input-group">-->
                        <span class="input-group-addon">四  图</span>
                        <img src="/img/aa.png" id="fourmageShow" height="200px" width="200px" title="请上传图片">
                        <input type="file" name="fourImage" id="fourImage">
                        <script>
                            $("#fourImage").change(function () {
                                var objUrl = getObjectURL(this.files[0]);
                                if (objUrl) {
                                    $("#fourmageShow").attr("src", objUrl);
                                }
                            });
                        </script>

                        <!--                        <span class="input-group-addon">五  图</span>-->
                        <!--                        <img src="/img/aa.png" id="fiveImageShow" height="200px" width="200px" title="请上传图片">-->
                        <!--                        <input type="file" name="fiveImage" id="fiveImage">-->
                        <!--                        <script>-->
                        <!--                            $("#mainImage").change(function () {-->
                        <!--                                var objUrl = getObjectURL(this.files[0]);-->
                        <!--                                if (objUrl) {-->
                        <!--                                    $("#fiveImageShow").attr("src", objUrl);-->
                        <!--                                }-->
                        <!--                            });-->
                        <!--                        </script>-->
                    </div>
                    <div class="input-group ">
                        <span class="input-group-addon">商品名称</span>
                        <input type="text" class="form-control" placeholder="请输入商品名称" name="storeName" id="storeName"
                               onblur="leave(this.value)">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">商品标签</span>
                        <input type="text" class="form-control" placeholder="请输入商品标签" name="storeKind" id="storeKind">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">商品描述</span>
                        <input type="text" class="form-control" placeholder="请输商品描述" name="miaoshu" id="miaoshu">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">价格</span>
                        <input type="tel" class="form-control" placeholder="请输入价格" name="price" id="price">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">商品基本信息</span>
                        <input type="text" class="form-control" placeholder="请输入商品基本信息" name="basicInfo" id="basicInfo">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">数量</span>
                        <input type="email" class="form-control" placeholder="请输入商品数量" name="storeNum" id="storeNum">
                    </div>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="toUploadStore"
                            onclick="loginRegister()">上传
                    </button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <!--模块四-->
        <div class="tab-pane fade" id="model4">购物车</div>
        <!--模块五-->
        <div class="tab-pane fade" id="model5">
            <div class="panel panel-primary" id="myInfo">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        重置密码
                    </h3>
                </div>
                <div class="panel-body" id="updatePasswordDiv">
                    <div id="updatePasswordOne">
                        <span><b>第一步</b></span>
                        <br>
                        <br>
                        <div class="input-group">
                        <span class="input-group-addon">邮    箱</span>
                        <input type="email" class="form-control" name="email" placeholder="请输入邮箱">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                获取验证码
                            </button>
                        </span>
                        </div>
                        <br>
                        <br>
                        <div class="input-group">
                        <span class="input-group-addon">验 证 码</span>
                        <input type="text" class="form-control" name="Info" placeholder="请输入验证码">
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="updatePassworOne()" >
                            下一步
                            <script>
                                function updatePassworOne(){
                                    $("#updatePasswordOne").hide();
                                    $("#updatePasswordTwo").show();

                                }
                            </script>
                        </button>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>

                    <div id="updatePasswordTwo" style="display: none">
                        <b>
                        <span  onclick="returnOne()">第一步</span>
                        <span style="color: #0dcaf0">》第二步</span>
                        </b>
                        <script>
                            function returnOne(){
                                $("#updatePasswordOne").show();
                                $("#updatePasswordTwo").hide();

                            }
                        </script>
                        <br>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">密   码</span>
                            <input type="password" class="form-control" name="email" placeholder="请输入密码">
                        </div>
                        <br>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">确认密码</span>
                            <input type="password" class="form-control" name="Info" placeholder="请确认密码">
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="updatePasswordTwo()" >
                            重置密码
                        </button>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>
        <!--模块六-->
        <div class="tab-pane fade" id="model6" style="margin-left: 0px;margin-top: 150px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">
                        公告
                    </h3>
                </div>
                <div class="panel-body" id="SixPanel">
                    <br>
                    <br>
                    <br>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;在这一时刻，随着毕业论文的结束，这一个月来的努力终于进入尾声，终于松了一口气，同时又避免不了叹气。大学的时光总是快乐短暂的，不知不觉中自己也在慢慢的成长，身上的稚气也变的淡了，这是一段难忘的记忆。在此，我想感谢那些帮助我和关心我的人。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;首先感谢我的论文指导老师--李永亮老师。感谢李老师辛苦的为我指导论文，指导我完善论文的整体框架、以及如何有效的收集信息和资料，指出论文格式上的不足，十分感谢李老师的指导，让我能够顺利的完成毕业论文。在交流过程中，沉浸在他渊博的知识中，严谨的教学风范和敬岗敬业的精神对我产生了很大的影响，此时此刻，向他表示真诚的感谢。
                        感谢我的辅导员--王奕文老师。感谢辅导员在学校期间的关照，辅导员在生活中与同学们也比较亲近，是老师也更像是朋友。经常关心同学们的近况，在我们低沉，迷茫的时候细心的开导我们，就像是黑夜中的星光，为我们指引方向。感谢我所有的专业课老师，选修课老师，谢谢你们悉心的教导。
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;感谢我的室友，感谢我的每一位同学，非常高兴能够与你们一起度过大学生活，我们一起学习，一起成长。
                    </p>
                </div>
                <div class="panel-footer" style="text-align: right">公告日期：2022-04-22-0 11:50:42</div>
            </div>
        </div>
    </div>
</div>

<div id="returnTop" style="display: none">
    <a href="#">
        <img src="/img/top.png" alt="返回顶部" height="60px" width="60px" class="img-circle">
    </a>
</div>
<div id="detailInfoDiv" style="display: none" class="panel panel-primary">
    <div class="panel-heading">
         <span style="text-align: left">
                <button type="button" class="btn-danger " id="closeDetail">关闭</button>
             <script>
                   $("#closeDetail").click(function () {
                       $("#detailInfoDiv").hide()
                   })
             </script>
            </span>
        <h3 class="panel-title" style="text-align: center">
            商品信息详情
        </h3>
    </div>
    <div class="panel-body" id="detailInfoDiv2">
        <div class="row">
            <br>
            <br>
            <!--商品图片显示区域-->
            <div class="col-md-3">
                <img src="/img/101.jpg" style="width: 300px;height: 300px" onclick="detailInfo()">
                <h3>课堂小桌子、凳子 </h3>
                <p>57 元</p>
                <button class="btn btn-default">
                    <span>购买</span>
                </button>
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil">加入购物车</span>
                </button>
            </div>
            <div class="col-md-9" id="detailRecord">
                    <pre>




                        参数--桌子            --椅子
                        长：80 cm              长：30 cm
                        高：100 cm             高：40 cm  靠背：40cm
                        宽：50 cm              宽：30 cm

                        新旧程度：九成新
                        重量： 桌子： 15 kg    椅子：5kg
                        使用时间：1.4年
                        颜色：棕木色
                        材料：桌面、椅子面：三合板
                             桌子腿、椅子腿：混合金属




                    </pre>
            </div>
        </div>
        <!--商品评论区域-->
        <hr>
        <div class="row">
            <div class="col-md-6">
                <pre>
                    <img src="/img/qq1.jpg" height="20px" width="20px" class="img-circle">三七、：这个桌子看起来质量不错.

                       <img src="/img/favicon.ico" height="20px" width="20px" class="img-circle"> 商家回复：感谢您的喜欢，桌子质量是肯定有保证的！

                    <img src="/img/qq2.jpg" height="20px" width="20px" class="img-circle">南山南：这桌子看起来有点矮诶？

                       <img src="/img/favicon.ico" height="20px" width="20px" class="img-circle"> 商家回复：上边有该商品的详细信息哦，请仔细确认再进行购买。
                </pre>
            </div>
        </div>
    </div>

</div>


</body>
</html>